$font-family-sans-serif: "Oxanium", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Oxanium, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base: 1rem;

$body-bg: #000;
$card-bg: #000;

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

body {
  text-transform: uppercase;
}

.card {
  margin: 10px;
  border-color: $green;
}

a:not([href]) {
  color: $green;
}

a:not([href]):hover {
  color: $white;
}

$cockpit-control-border-width: 1px;
$cockpit-control-color: $green;
$cockpit-control-active-color: $white;
$cockpit-control-bg: $black;
$cockpit-control-active-bg: $green;
$cockpit-control-border: $green;
$cockpit-control-active-border: $green;
$cockpit-control-font-weight: normal;

$types: "down", "up", "left", "right", "on", "off", "none";

@each $type in $types {
  .button-#{$type} {
    @extend .btn-success;
    color: $cockpit-control-color;
    background-color: $cockpit-control-bg;
    font-weight: $cockpit-control-font-weight;
    border-color: $cockpit-control-border;
    border-width: $cockpit-control-border-width;
  }
  .button-#{$type}.active {
    @extend .btn-success;
    color: $cockpit-control-active-color;
    background-color: $cockpit-control-active-bg;
    font-weight: $cockpit-control-font-weight;
    border-color: $cockpit-control-active-border;
    border-width: $cockpit-control-border-width;
  }
  .switch-#{$type} {
    @extend .btn-success;
    color: $cockpit-control-color;
    background-color: $cockpit-control-bg;
    font-weight: $cockpit-control-font-weight;
    border-color: $cockpit-control-border;
    border-width: $cockpit-control-border-width;
  }
  .switch-#{$type}.active {
    @extend .btn-success;
    color: $cockpit-control-active-color;
    background-color: $cockpit-control-active-bg;
    font-weight: $cockpit-control-font-weight;
    border-color: $cockpit-control-active-border;
    border-width: $cockpit-control-border-width;
  }
}
