// src/sass/variables.scss

// Globals
$body-font-family: 'Oxanium', serif;
$font-size-root: 20px;

$color: #03FF08;

$material-dark: (
  'background': #000,
  'bg-color': #000,
  'cards': #000,
  'bottom-navigation': #000,
  'dividers': $color,
  'fg-color': $color,
  'icons': (
    'active': $color,
    'inactive': darken($color, 15%),
  ),
  'navigation-drawer': #000,
  'tabs': $color,
  'text': (
    'theme': $color,
    'primary': $color,
    'secondary': lighten($color, 15%),
    'disabled': darken($color, 15%),
    'link': lighten($color, 15%),
    'link-hover': lighten($color, 15%),
  ),
  'text-color': $color
);

.v-tab.v-tab {
  color: $color;
}

.v-tab.v-tab--active {
  color: #000;
  background-color: $color;
}

.v-list .v-list-item--active {
  color: #000;
  background-color: $color;
}

.v-btn-toggle > .v-btn.v-btn--active {
  color: #000;
  background-color: $color;
}

.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn .v-icon {
  color: $color;
}

.v-btn.v-btn .v-icon {
  /* color: #FFFFFF; */
  color: $color;
}

.v-btn > .v-btn__content .v-icon {
  color: $color;
}

.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  color: #000;
  background-color: $color;
}